#container {
  text-align: center;
  margin-top: 100px;
  background-color: #FFE5B4;
  border: 2px solid black;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}

#formsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  height: 200px; /* Altura máxima para el contenedor */
  overflow: auto; /* Añade una barra de desplazamiento si hay más elementos de los que caben en el contenedor */
}

.formGroup {
  margin-bottom: 10px;
}

#sumButton {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
